<div class='center' style="background-color: #FFFFFF; border-radius: 10px; ">
<video src="<%=vine.escape('url')%>" width="480" height="480" preload="none"controls class="vine-clip"></video>

<h5><%=vine.escape('text')%></h5>
</div>
