<div class='main-page'><h1 style="color: #7A1F35; font-size:1600%; font-family:"Futura";>VINO</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>
<input type="text" class="search-query">
</p>
<h5>Explore the world of Vines.</h5>


<!--button class="btn btn-primary search">Search</button-->

</div>
<a href="#" class="play-link" >Play</a>