<div class='main-page'><h4>Welcome to Vino</h4>
<p>
<input type="text" class="search-query">
</p>



<button class="btn btn-primary search">Search</button>

<ul class="queries">
<% VI.Store.Queries.each(function(query){%>
<li> <%= query.escape("body")%> </li>
<%})%>
</ul>
</div>

<a href="#" class="floating-link" >Play</a>