<div class='main-page'><h4>Welcome to Vino</h4>
<p>
<input type="text" class="search-query">
</p>



<button class="btn btn-primary search">Search</button>

</div>
<a href="#" class="play-link" >Play</a>