// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vine {margin-top: 25%;
  margin-bottom: 25%;
  list-style-type: none;
  text-align: center;
  display: inline;}

.vine-clip {
  margin-top: 5%;
  margin-bottom: 5%;
  list-style-type: none;
  text-align: center;
  display:inline;
}

.queries {
  list-style-type: none;
  text-align: center;
}

.meta-data {
  list-style-type: none;
  text-align: center;
}

.all-vines {}

.play-link {
  position: fixed;
  left: 0;
  bottom: 30px;
  }

.main-page {margin-top: 360px; 
            margin-bottom: 380px; 
            text-align: center;}
