// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vine {margin-top: 20%;
  margin-bottom: 20%;
  list-style-type: none;
  text-align: center;
  display:inline;}

.vine-clip {
  margin-top: 10%;
  margin-bottom: 10%;
  list-style-type: none;
  text-align: center;
  display:inline;
}

.all-vines {}

.floating-link {
  left: 0;
  bottom: 0;
  }

.main-page {margin-top: 360px; 
            margin-bottom: 450px; 
            text-align: center;}
